{% extends 'shared/layout.html' %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}

{% block content %}
    <section class="register_section section_space">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <ul class="nav register_tabnav ul_li_center" role="tablist">
                        <li role="presentation">
                            <button data-bs-toggle="tab" data-bs-target="#signup_tab" type="button" role="tab"
                                    aria-controls="signup_tab" aria-selected="true" class="active">
                                فراموشی رمز عبور
                            </button>
                        </li>
                    </ul>
                    <div class="register_wrap tab-content">

                        <div class="tab-pane fade active show" id="signup_tab" role="tabpanel">
                            <form method="post" action="{% url 'forget_password-page' %}">
                                {% csrf_token %}
                                <div class="form_item_wrap">
                                    <h3 class="input_title">شماره همراه*</h3>
                                    <div class="form_item">
                                        <label for="username_input2"><i class="fas fa-user"></i></label>
                                        {{ forget_pass_form.phone }}
                                        {{ forget_pass_form.phone.errors }}
                                        <span>{{ forget_pass_form.phone.help_text }} </span>
                                    </div>
                                </div>


                                <div class="form_item_wrap">
                                    <h3 class="input_title">نام کاربری*</h3>
                                    <div class="form_item">
                                        <label for="password_input2"><i class="fas fa-envelope"></i></label>
                                        {{ forget_pass_form.username }}
                                        <span>{{ forget_pass_form.username.help_text }} </span>
                                    </div>
                                </div>


                                <div class="text-start">
                                    <button type="submit" class="btn btn_secondary">بازیابی کلمه عبور</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}