{% extends 'shared/layout.html' %}
{% load render_partial %}
{% block title %}
    پنل کاربری
{% endblock %}

{% block content %}
    <section class="account_section section_space">
        <div class="container">
            <div class="row">
                {% render_partial 'user_panel.views.profile_partial' %}

                <div class="col col-lg-9">
                    <div class="account_content_area">
                        <h3>تغییر رمز عبور</h3>
                        <ul class="content_layout ul_li_block">
                            <li>
                                <div class="col col-lg-6">
                                    <div class="contact_info_wrap">
                                        <form action="{% url 'change_password_page' %}" method="post">
                                            {% csrf_token %}

                                            <div class="form_item">
                                                {{ form.current_password.label_tag }}
                                                {{ form.current_password }}
                                                {{ form.current_password.errors }}
                                            </div>

                                            <div class="form_item">
                                                {{ form.password.label_tag }}
                                                {{ form.password }}
                                                {{ form.password.errors }}

                                            </div>

                                            <div class="form_item">
                                                {{ form.confirm_password.label_tag }}
                                                {{ form.confirm_password }}
                                                {{ form.confirm_password.errors }}

                                            </div>
                                            <button type="submit" class="btn btn_primary">تغییر رمز</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


