<!-- body_wrap - start -->
<div class="body_wrap">

    <section class="empty_cart_section section_space">
        <div class="container">
            <div class="empty_cart_content text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="empty_cart_image">
                            <img src="/static/images/empty_cart_image.webp"
                                 alt="Getyootech - Getyootech - Gadgets Ecommerce Site Template">
                        </div>
                        <h2>سبد خرید شما خالی است. بیایید کمی خرید کنیم</h2>
                        <a class="btn btn_primary" href="{% url 'product-list-page' %}">
                            به خرید ادامه دهید
                            <i class="fa-regular fa-arrow-left-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>